/* #RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
}

ul {
  list-style-type: none;
}

/* UTILITY */

.debug * {
  min-height: 100px;
  padding: 5px;
  border-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.mx-10 {
  margin: 0 10px;
}
/* HEADER */

.menu {
  display: flex;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 123, 0);
  color: white;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  max-width: 15%;
}

.icone {
  display: flex;
  align-items: center;
}

/* MAIN */

.card {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

.card-top {
  display: flex;
  font-size: 20%;
  padding-bottom: 30px;
}

.card-bottom {
  display: flex;
}

.fig {
  position: relative;
  padding-left: 20px;
}

.card-discount {
  position: absolute;
  left: 0;
  bottom: 120px;
  background-color: red;
  color: white;
  font-size: 10px;
}

.sustainability {
  position: absolute;
  left: 25px;
  bottom: 120px;
  background-color: green;
  color: white;
  font-size: 10px;
}

.heart {
  position: absolute;
  top: 8px;
  right: 20px;
  background-color: white;
  font-size: 15px;
}

.product-card .next-image {
  display: none;
}

.product-card:hover .next-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  bottom: 0;
}

.product {
  font-size: 10px;
}

.price {
  color: red;
}

.price-delete {
  color: gray;
}

/* FOOTER */
